body {
    color: #fff;
    background: #3c64e8;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyright {
    font-size: 14px;
    color: #ffff;
    text-align: center;
}

footer .copyright a {
    color: #ffff;
}

footer .copyright a:hover {
    color: #ffff;
}

footer .copyright:before {
    content: '©';
}

footer .rss .rss-logo {
    width: 70px;
}
