@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia/Georgia-Bold.woff2') format('woff2'),
		url('../../assets/fonts/georgia/Georgia-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia/Georgia-BoldItalic.woff2') format('woff2'),
		url('../../assets/fonts/georgia/Georgia-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia/Georgia.woff2') format('woff2'),
		url('../../assets/fonts/georgia/Georgia.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia/Georgia-Italic.woff2') format('woff2'),
		url('../../assets/fonts/georgia/Georgia-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial/Arial-Black.woff2') format('woff2'),
		url('../../assets/fonts/arial/Arial-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial/Arial-BoldMT.woff2') format('woff2'),
		url('../../assets/fonts/arial/Arial-BoldMT.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial/Arial-ItalicMT.woff2') format('woff2'),
		url('../../assets/fonts/arial/Arial-ItalicMT.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Arial Narrow';
	src: url('../../assets/fonts/arial/ArialNarrow-Bold.woff2') format('woff2'),
		url('../../assets/fonts/arial/ArialNarrow-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arial Narrow';
	src: url('../../assets/fonts/arial/ArialNarrow-BoldItalic.woff2') format('woff2'),
		url('../../assets/fonts/arial/ArialNarrow-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial/Arial-BoldItalicMT.woff2') format('woff2'),
		url('../../assets/fonts/arial/Arial-BoldItalicMT.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Arial Narrow';
	src: url('../../assets/fonts/arial/ArialNarrow.woff2') format('woff2'),
		url('../../assets/fonts/arial/ArialNarrow.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arial Narrow';
	src: url('../../assets/fonts/arial/ArialNarrow-Italic.woff2') format('woff2'),
		url('../../assets/fonts/arial/ArialNarrow-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial/ArialMT.woff2') format('woff2'),
		url('../../assets/fonts/arial/ArialMT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 15px;
}

* {
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent
}

.container {
	max-width: 93.75%;
	margin: 0 auto;
}

.background__color {
	background: url('../../assets/images/shelter/noise_transparent@2x.png'),
		no-repeat,
		radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
	/* background-size: 100%; */
}

/*////////////////////  START HEADER  /////////////////////////*/

.header__container {
	display: flex;
	justify-content: space-between;
	padding: 2.05rem 0px 2rem 0;
	align-items: center;
}

.navigation__header-link {
	display: flex;
}

.navigation__header {
	display: flex;
	align-items: center;
}

.header__item {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #CDCDCD;
	padding-bottom: 0.27rem;

}

.navigation__header-item {
	margin-right: 2.4rem;
	margin-bottom: 0.2rem;
}

.navigation__header-item:last-child {
	margin-right: 0;
}

.logo {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.14rem;
	line-height: 110%;
	/* or 35px */
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #F1CDB3;
}

.logo__content {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 0.87rem;
	line-height: 1rem;
	display: flex;
	align-items: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	margin: 0.67rem 0 0 0.27rem;
}

.header__item:active {
	border-bottom: 3px solid #F1CDB3;
	color: #FAFAFA;
}

.header__item:active {
	color: #FAFAFA;
}

.header__item:hover {
	color: #FAFAFA;
	transition: all 0.2s;
}

.active {
	border-bottom: 3px solid #F1CDB3;
	color: #FAFAFA;
}

.header__burger {
	display: none;
	width: 30px;
	height: 22px;
	position: relative;
}

.burger__line {
	display: block;
	width: 100%;
	position: absolute;
	height: 2px;
	background-color: #F1CDB3;
	right: 0;
}

.burger__line-one {
	top: 0;
}

.burger__line-fhree {
	bottom: 0;
}

.burger__line-two {
	top: 46%;
}

/*////////////////////  END HEADER  /////////////////////////*/

/*////////////////////  START NOT_ONLY  //////////////////////*/
.not__only-container {
	display: flex;
	justify-content: space-between;
	padding-top: 4rem;
}

.not__only-img {
	display: inline-block;
	vertical-align: bottom;
}

.not__only-h2-title {
	max-width: 20.67rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: normal;
	font-size: 2.94rem;
	line-height: 130%;
	/* display: flex;
	align-items: center; */
	color: #FFFFFF;
}


.not__only-content {
	padding-top: 10.87rem;
}

.not__only-paragraf {
	max-width: 30.67rem;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #CDCDCD;
	margin-top: 2.74rem;
}

.button__backgraund {
	background: #F1CDB3;
}

.button {
	border-radius: 6.67rem;
	border: #F1CDB3;
	cursor: pointer;
}

.button:hover {
	border: 2px solid #FDDCC4;
	background: #FDDCC4;
	transition: all 0.4s;
}

.not__only-button,
.our__friends-button {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.14rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	padding: 0.94rem 2.8rem 0.87rem 2.87rem;

}

.not__only-button {
	margin-top: 39px;
}

/*////////////////////  END NOT_ONLY  //////////////////////*/

/*////////////////////  START ABOUT  //////////////////////*/

.about-container {
	display: flex;

	padding: 5.34rem 0 6.28rem 0;
}

.about-container-img {
	margin: 0 0 0 11.67rem;
}

.about-h2-title {
	max-width: 24.67rem;
	;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.34rem;
	line-height: 130%;
	color: #545454;
	letter-spacing: 0.06em;
	margin-top: 0.87rem;
}

.about__paragraf-one,
.about__paragraf-two {
	max-width: 28.67rem;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #4C4C4C;
	margin-top: 1.67rem;
}

.about__content {
	margin-left: 8rem;
}




/*////////////////////  END ABOUT  //////////////////////*/



/*////////////////////  START OUR_FRIENDS  //////////////////////*/
.our__friends {
	background: #F6F6F6;
}

.our__friends-container {
	padding: 5.34rem 0 6.67rem;
	text-align: center;
}

.our__friends-h2-title {
	max-width: 36.67rem;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.34rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}

.title-about {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2px 0 0 0;
}

.our__friends-container-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3.8rem;
}

.slyder {
	display: flex;
	align-items: center;
}

.button-frinds {
	width: 3.2rem;
	height: 3.2rem;
	border: 2px solid #F1CDB3;
	border-radius: 6.67rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.our__friends-card {
	margin-right: 6rem;
}

.our__friends-card:last-child {
	margin-right: 0;
}

.our__friends-card {
	background: #FAFAFA;
	border-radius: 9px;
}

.our__friends-card:hover {
	background: #FFFFFF;
	transition: all 0.4s;
}

.our__friends-card:hover .our__friends-button {
	border: 2px solid #FDDCC4;
	background: #FDDCC4;
	transition: all 0.4s;
}

.friend-img {
	margin-bottom: 1.74rem;
}

.name-card {
	margin-bottom: 2rem;
}

.our__friends-name {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.34rem;
	line-height: 1.54rem;
	letter-spacing: 0.06em;
	color: #545454;
}

.button {
	border: 2px solid #F1CDB3;
	border-radius: 6.67rem;
}

.our__friends-button {
	margin-bottom: 2rem;
}

.button__get-pets {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.14rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	background: #F1CDB3;
	border-radius: 6.67rem;
	padding: 0.87rem 2.87rem 0.94rem 2.87rem;
	margin-top: 3.94rem;
}

.our__friends-card {
	cursor: pointer;
}

.button-frinds:hover {
	background: #FDDCC4;
	border: 2px solid #FDDCC4;
	transition: all 0.4s;
}


/*////////////////////  END OUR_FRIENDS  //////////////////////*/

/*////////////////////  START HELP  ///////////////////////////*/
.help__container {
	padding: 5.27rem 0 3rem 0;
}

.help__h2-title {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.34rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: center;
}

.title-help {
	margin-bottom: 4rem;
}

.help__list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.help__icon-text {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.34rem;
	line-height: 115%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}

.help__icon {
	margin-bottom: 1.67rem;
}

.help__item {
	text-align: center;
	margin-right: 8rem;
	margin-bottom: 3.67rem;
}

.item5 {
	margin-right: 0;
}

/* .item9,
.item8,
.item7, */
.item6 {
	margin-left: 8.07rem;
}

.icon8 {
	margin: 2px 0 2rem 0;
}

.text3 {
	margin-left: 6px;
}

/* .help__item:hover {
	background-color: #f3e8e0;
	transition: all 0.3s;
	cursor: pointer;
} */

/*////////////////////  END HELP    ///////////////////////////*/



/*////////////////////  START ADDITION  ///////////////////////*/

.inaddition {
	background: #F6F6F6;
}

.addition__container-wrap {
	display: flex;
	margin-left: 9.54rem;
	padding: 5.4rem 0 6.67rem 0;
}

.addition__title-h2 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.34rem;
	line-height: 130%;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 1.24rem;
}

.addition__bank {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 110%;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 1.34rem;
}

.addition__bank-info {
	max-width: 23.27rem;
	display: flex;
	align-items: center;
	margin-bottom: 1.34rem;
	background: #F1CDB3;
	border-radius: 9px;
}

.bank-phone {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.34rem;
	line-height: 115%;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
	padding: 0.6rem 0px 0.67rem 1rem;
}

.addition__content-text {
	max-width: 25.34rem;
	font-family: 'Arial';
	font-style: italic;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 150%;
	color: #B2B2B2;
}

.addition__content {
	margin-left: 2rem;
}

.bank-icon {
	margin-left: 1rem
}

.additoin__container-img {
	margin-top: 0.7rem;
}

.bank-icon {
	display: flex;
	align-items: center;
}

.link__bank {
	cursor: pointer
}

.addition__bank-info:hover {
	background: #FDDCC4;
	transition: all 0.4s;
}

/*////////////////////  END ADDITION  ////////////////////////*/



/*//////////////////////  START FOOTER  ///////////////////////*/
.footer__background {
	background: url('../../assets/images/shelter/noise_transparent@2x.png'),
		no-repeat,
		radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
	/* background-size: 100%; */
}

.footer__container {
	padding-top: 2.74rem;
}

.footer__container-wrap {
	display: flex;
	justify-content: space-between;
}

.h3-ttitle {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 2.34rem;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}

.footer-text {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 1.34rem;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
}

.footer__number-phone,
.footer__email-adress,
.footer__map-adress {
	display: flex;
	align-items: center;
}

.footer__img {
	display: inline-block;
	vertical-align: bottom;
}

.footer__questions {
	margin-bottom: 2.5rem;
}

.footer__email-adress {
	margin-bottom: 2.67rem;
}

.footer__our-place {
	margin-bottom: 2.1rem;
}

.map-one {
	margin-bottom: 2.2rem;
	margin-left: -3px;
}

.footer-text {
	margin-left: 1.34rem
}

.footer__conetct,
.footer__our-adress {
	margin-top: 1.07rem
}

.footer__our-adress {
	margin-left: -7px
}

.map-two {
	margin-left: -3px;
}

.footer__map-adress:hover>.footer-text {
	color: #f9e0ce;
	transition: all 0.3s;
}

.footer__for-quest:hover>.footer-text {
	color: #f9e0ce;
	transition: all 0.3s;
}

/*//////////////////////  END FOOTER  /////////////////////////*/
@media screen and (max-width: 1170px) {

	.not__only-h2-title {
		max-width: 80%;
	}

	.not__only-paragraf {
		max-width: 80%;
	}

	.not__only-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 29px 0 0 0;
	}

	.not__only-content {
		padding-top: 0;
	}



	.form__but-not-only {
		text-align: center;
		margin-top: 2px;
	}

	.not__only-img {
		width: 569px;
		height: 593px;
		margin: 100px 0 0 138px
	}

	.our__friends-card {
		margin-right: 40px;
	}

	.card-2 {
		margin-right: 0;
	}

	.card-3 {
		display: none;
	}

	.addition__content {
		margin-left: 0;
		text-align: center;
	}

	.help__item {
		margin-right: 60px;
	}

	.item6 {
		margin-left: 0;
	}

	.addition__container-wrap {
		margin-left: 0;
	}

	.addition__img {
		width: 100%;
	}

	.about-img {
		width: 100%;
	}

	.footer__img {
		width: 100%;
	}

}




@media screen and (max-width:800px) {
	.container {
		max-width: 92%;
		margin: 0 auto;
	}

	/* NOT-ONLY*/
	.not__only-h2-title {
		max-width: 20.67rem;
	}

	.not__only-paragraf {
		max-width: 30.67rem;
	}

	/*END NOT-ONLY*/


	/*ABOUT*/
	.about-container {
		display: flex;
		flex-direction: column-reverse;
		padding: 65px 0 95px 0;
		margin-left: 50px;
	}

	.about-img {
		width: 300px;
		height: 408px;
		margin-top: 79px;
		margin-left: 10px;
	}

	/*END ABOUT*/

	/*FRIENDS*/
	.our__friends-container {
		padding: 80px 0 100px 0
	}

	/*END FRIENDS*/

	/*HELP*/
	.help__container {
		padding: 79px 0 52px 0;
	}

	.help__list-container {
		margin: 0 37px 0 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		transition: all 0.5s;
	}

	.help__item {
		width: 27%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 56px;
	}

	/*END HELP*/

	/*ADDITION*/
	.addition__container-wrap {
		flex-direction: column;
		padding: 73px 0 96px 0;
	}

	.addition__content {
		margin: 0 auto;
		text-align: start;
	}

	.addition__img {
		width: 505px;
		height: 261px;
		margin-top: 60px;

	}

	.additoin__container-img {
		margin: 0 auto;
		order: 2;
	}

	/*END ADITION*/

	/*FOOTER*/
	.footer__container-wrap {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer__container {
		padding-top: 14px;
	}

	.footer__conetct {

		margin-right: 30px;
	}

	.footer__our-adress {
		padding-right: 10px;
		margin-left: 30px;
	}

	.footer__img {
		margin-top: 65px;
	}

	/*END FOOTER*/
}

@media screen and (max-width: 767px) {

	.header__container {
		padding: 31px 20px 30px;
	}

	.title-h2 {
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 1.67rem;
		line-height: 130%;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.06em;

	}

	.container {
		max-width: 93.75%;
		margin: 0 auto;
	}

	.header__burger {
		display: block;
	}

	.navigation__header {
		display: none;
	}

	/* 
	.header__burger {
		transform: rotate(90deg);
	} */

	.card-2 {
		display: none;
	}

	.not__only-content {
		text-align: center;
	}

	.not__only-img {
		width: 260px;
		height: 271.77px;
		margin-top: 105px;
		margin-left: 37px;
	}



	.about-container-img {
		margin: 0 auto;
	}

	.about-container {
		display: flex;
		flex-direction: column-reverse;
		padding: 41px 0 39px 0;
	}

	.about__paragraf-two {
		margin-top: 22px;
	}

	.not__only-h2-title {

		margin: 0 40px;
	}

	.about-h2-title {
		margin: 0 20px;
	}

	.about__content {
		font-family: 'Arial';
		font-style: normal;
		font-weight: 400;
		font-size: 1rem;
		line-height: 160%;
		text-align: justify;
		margin: 0 15px;
	}

	.about-img {
		width: 260px;
		height: 353.6px;
		margin: 40px 0 0 0;
	}

	.our__friends-container {
		padding: 40px 0 41px 0;
	}

	.our__friends-container-cards {
		display: flex;
		flex-direction: column;
		/* width: 50%; */
	}

	.our__friends-container-cards {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
	}

	.slyder {
		order: 1;
	}

	.button-frinds {
		order: 2;
	}

	.butto-1 {
		margin-top: 20px;
		margin-left: -135px;
	}

	.butto-2 {
		margin-top: -53px;
		margin-right: -135px;
	}

	.our__friends-card {
		margin: 0 auto;
	}

	.button__get-pets {
		margin-top: 42px;
	}

	.title-help {
		display: flex;
		justify-content: center;
	}

	.help__container {
		padding: 42px 0 27px 0;
	}

	.help__list-container {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		transition: all 0.5s;
	}

	.help__item {
		width: 47%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}

	.icon__size {
		width: 50px;
		height: 50px;
	}

	.help__icon {
		margin-bottom: 22px;
	}

	.help__icon-text {
		font-size: 1rem;
	}

	.title-help {
		margin-bottom: 42px;
	}

	.addition__container-wrap {
		flex-direction: column;
		padding: 42px 0 38px 0;
	}

	.addition__title-h2 {
		margin-bottom: 23px;

	}

	.addition__img {
		width: 260px;
		height: 135.2px;
		margin-top: 42px;
	}

	.addition__title {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.addition__bank-info {
		max-width: 281px;
		display: flex;
		align-items: center;
		margin-bottom: 1.34rem;
		background: #F1CDB3;
		border-radius: 9px;
	}

	.addition__bank {
		letter-spacing: 0;
		justify-content: center;
		margin-bottom: 23px;
	}

	.link__bank {
		display: flex;
		justify-content: center;
	}

	.bank-phone {
		font-size: 1rem;
		padding: 13px 15px 13px 15px
	}



	.addition__content-text {

		align-items: center;
		text-align: justify;
		margin: 0 9px;
	}

	.h3-ttitle {
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 25px;
		line-height: 130%;
		/* or 32px */

		text-align: center;
		letter-spacing: 0.06em;
	}

	.fot {
		display: none;
	}

	.footer__container {
		padding-top: 30px;
	}

	.footer__conetct {
		margin: 0;
	}

	.footer__our-adress {
		padding-right: 0px;
		margin: 0 auto;
	}

	.footer__container-img {
		display: flex;
		justify-content: center
	}

	.footer__img {
		/* width: 81.25%; */
		width: 260px;
		height: 269px;
		margin-top: 42px;
	}

	.footer__conetct,
	.footer__our-adress {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}

	.footer__conetct {
		margin-bottom: 40px;
	}

	.footer__our-place {
		margin: 0 20px 40px 20px;
	}

	.map-one {
		margin-bottom: 40px;
	}

	.map-two {
		margin-left: -30px;
	}
}
