* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: rgb(29, 15, 83);
  font-size: 16px;
  color: white;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
}



.btn__menu:hover {
  background-color: rgb(153, 33, 33);
}

.btn__menu:active {
  background-color: rgb(243, 9, 9)
}



.button__header {
  width: 8rem;
  height: 1.5rem;
  background-color: rgb(7, 139, 18);
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  margin: 0 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button__header:hover {
  background-color: rgb(153, 33, 33);
}

.button__header:active {
  background-color: rgb(243, 9, 9)
}

.btn {
  background-color: rgb(9, 91, 198);
  color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(153, 33, 33);
}

.btn:active {
  background-color: rgb(243, 9, 9)
}

.header {
  padding-bottom: 25px;
}

.menu__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__create {
  padding-bottom: 15px;
}

.input__text {
  width: 200px;
  height: 1.3rem;
}

.input {
  margin-left: 10px;
}

.btn__menu {
  width: 85px;
  height: 27px;
  margin-left: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}


.btn__manag {
  width: 107px;
}

.btn__cenerate {
  width: 130px;
}

.place__race {
  margin-left: 10px;
}


.wrapper__pagination {
  margin: 10px 0 0 10px;
}

.btn__pagination {
  width: 80px;
  margin-right: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* .btn__pagination:hover {
  background-color: rgb(153, 33, 33);
}


.btn__pagination:active {
  background-color: rgb(243, 9, 9)
} */

/*///  CREATE CAR  /////*/
.header__trak {
  display: flex
}

.road {
  display: flex;
  justify-content: space-between;
}

.flag {
  width: 50px;
  height: 50px;
  bottom: 0px;
}

.finish {
  display: flex;
  align-items: flex-end;
  margin-right: 18%;
}

.finish .flag {
  align-self: flex-end;
}

.wrapper__car {
  display: flex;
  align-items: flex-end;
}

.wrapper__car .car {
  align-self: flex-end;
}


.road {
  border-bottom: 2px dashed white;
  margin-bottom: 15px;
}

.car {
  margin-bottom: -6px;
}

.btn__car {
  margin-right: 8px;
  cursor: pointer;
}

.btn__motor {
  margin-top: 5px;
  width: 45px;
  height: 25px;
}

.btn__motor {
  background-color: transparent;
  /* box-sizing: border-box; */
  border-radius: 8px;
}

.btn__start {
  color: rgb(26, 246, 11);
  border: rgb(15, 251, 15) 2px solid;
}

.btn__stop {
  color: rgb(246, 31, 11);
  border: rgb(246, 31, 11) 2px solid;
}

.disabled {
  border-color: grey;
  color: grey;
}


.table__title {

  border: 1px solid #0d6efd;
  width: 200px;
  height: 50px;
}
